@model IEnumerable<Tidtabell.Models.Join_Tables.LineStops>
@using Tidtabell.Models

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineId)
            </th>
            <th>
                Line
            </th>
            <th>
                Stop
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StopId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StopPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reverse)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LineId)
            </td>
                
            <td>
                @(((List<Line>)ViewBag.Lines).FirstOrDefault(modelItem => modelItem.Id == item.LineId).Number)
                
            </td>
            <td>
                @(((List<Stop>)ViewBag.Stops).FirstOrDefault(modelItem => modelItem.Id == item.StopId).Name)

            </td>
                 
            <td>
                @Html.DisplayFor(modelItem => item.StopId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StopPosition)
            </td>
            <td>
                    @((item.Time.Hour < 10 ? "0" + item.Time.Hour : item.Time.Hour) + ":" + (item.Time.Minute < 10 ? "0" + item.Time.Minute : item.Time.Minute))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reverse)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
